Client/WebClient/Connected Services/LeadService/LeadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/NobiService/Lead/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/NobiService/Lead/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/NobiService/Lead/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeadService_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="ILeadService_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_AllUncalledLeads_InputMessage">
    <wsdl:part name="parameters" element="tns:AllUncalledLeads" />
  </wsdl:message>
  <wsdl:message name="ILeadService_AllUncalledLeads_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllUncalledLeadsResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILeadService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeadService">
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/All" message="tns:ILeadService_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/AllResponse" message="tns:ILeadService_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllUncalledLeads">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/AllUncalledLeads" message="tns:ILeadService_AllUncalledLeads_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/AllUncalledLeadsResponse" message="tns:ILeadService_AllUncalledLeads_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/Create" message="tns:ILeadService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/CreateResponse" message="tns:ILeadService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Read">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/Read" message="tns:ILeadService_Read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/ReadResponse" message="tns:ILeadService_Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/Update" message="tns:ILeadService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/UpdateResponse" message="tns:ILeadService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/Delete" message="tns:ILeadService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/DeleteResponse" message="tns:ILeadService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILeadService" type="tns:ILeadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/ILeadService/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllUncalledLeads">
      <soap:operation soapAction="http://tempuri.org/ILeadService/AllUncalledLeads" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ILeadService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Read">
      <soap:operation soapAction="http://tempuri.org/ILeadService/Read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ILeadService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILeadService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeadService">
    <wsdl:port name="BasicHttpBinding_ILeadService" binding="tns:BasicHttpBinding_ILeadService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/NobiService/Lead/Lead" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>