Client/NobiWinClient/Connected Services/MeetingService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMeeting">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meeting" nillable="true" type="tns:Meeting" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeeting" nillable="true" type="tns:ArrayOfMeeting" />
  <xs:complexType name="Meeting">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agent" nillable="true" type="tns:Agent" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="tns:Session" />
      <xs:element minOccurs="0" name="Status" type="tns:Status" />
      <xs:element minOccurs="0" name="Type" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Meeting" nillable="true" type="tns:Meeting" />
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Campaign" nillable="true" type="tns:Campaign" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Agent" nillable="true" type="tns:Agent" />
  <xs:complexType name="Campaign">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Campaign" nillable="true" type="tns:Campaign" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Duration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lead" nillable="true" type="tns:Lead" />
      <xs:element minOccurs="0" name="SystemUser" nillable="true" type="tns:SystemUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="Lead">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lead" nillable="true" type="tns:Lead" />
  <xs:complexType name="SystemUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemUser" nillable="true" type="tns:SystemUser" />
  <xs:simpleType name="Role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="User" />
      <xs:enumeration value="Admin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Accepted" />
      <xs:enumeration value="Delayed" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Scheduled" />
      <xs:enumeration value="Completed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:simpleType name="Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Regular" />
      <xs:enumeration value="Half" />
      <xs:enumeration value="Phone" />
      <xs:enumeration value="Risk" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
</xs:schema>